.env
.env.*
!.env.example

venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

node_modules/

.git/
.gitignore
.gitattributes
.vscode/
.idea/

staticfiles/
static/css/style.css
static/css/output.css

db.sqlite3

media/

.DS_Store
Thumbs.db
